@media only screen and (max-width: 900px) {
   .swipeView {
      display: grid;
      grid-template-columns: repeat(4, 100%);
      will-change: transform;
      align-content: center;
      overflow-x: auto;
      scroll-snap-coordinate: 0 0;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      background-color: #2B4D59;
      color: white;
   }
   
   section {
      height: 100vh;
      scroll-snap-align: center;
   }

   .fox-check-container {
      display: none;
   }

   .fox-delete {
      top: 10px;
      right: 5px;
   }
}

.w3-padding-bottom {
   padding-bottom: 50px;
}

.w3-hide-small {
   background-color: #2B4D59;
   color: white;
   height: 100vh;
}

.task-card {
   margin-bottom: 2px;
   background-color: #e4e1d8;
   color: black;
   width: 100%;
   overflow-x: hidden;
}

.fox-green {
   background-color: #39998E !important;
   color: white !important;
}

.fox-red {
   background-color: #b9300e;
   color: white;
}

.draggable-card {
   position: relative;
}

.fox-check {
   font-size: 2em;
   border-radius: 50%;
   background-color: #39998E;
   color: white;
   position: relative;
   top: 10px;
}

.fox-delete {
   font-size: 2em;
   border-radius: 50%;
   color: #b9300e;
   position: relative;
   top: 10px;
}

@media only screen and (min-width: 900px) {
   .fox-check-container, .fox-delete-container {
      width: 20px;
   }

   .fox-check:hover, .fox-delete:hover {
      cursor: pointer;
   }
   
   .draggable-card:hover .fox-card-text{
      position: relative;
      right: -20px;
   }

   .fox-delete {
      right: 20px;
   }
}

@-webkit-keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0; display: none; visibility: hidden;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0; display: none; visibility: hidden;}
}

.hidden {
   -webkit-animation: fadeOut 2s;
   animation: fadeOut 2s;
   animation-fill-mode: forwards;
}

.footer {
   position: absolute;
   bottom: 8px;
}

.fox-link {
   text-decoration: underline;
}

.fox-link:hover {
   cursor: pointer;
}

@keyframes jiggle {
   0% {
     transform: rotate(-1deg);
   }
   50% {
     transform: rotate(1deg);
   }
}

.wiggle {
   animation: jiggle 0.2s infinite;
}