.swipeView {
   display: grid;
   grid-template-columns: repeat(4, 100%);
   will-change: transform;
   align-content: center;
   overflow-x: auto;
   scroll-snap-coordinate: 0 0;
   scroll-snap-points-x: repeat(100%);
   scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
}

section {
   height: 80vh;
   scroll-snap-align: start;
}

.today {
   
}

.tomorrow {
   
}

.thisWeek {
   
}