@media only screen and (max-width: 900px) {
   .swipeView {
      display: grid;
      grid-template-columns: repeat(4, 100%);
      will-change: transform;
      align-content: center;
      overflow-x: auto;
      scroll-snap-coordinate: 0 0;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      background-color: #2B4D59;
      color: white;
      height: -webkit-fill-available;
      height: 100vh;
   }
   
   section {
      max-height: 80vh;
      scroll-snap-align: center;
   }

   .fox-task-column {
      height: 60vh;
      width: 100%;
      overflow-y: scroll;
   }

   .fox-check-container {
      /* display: none; */
      width: 50px;
   }

   .fox-check-container i {
      display: none;
   }

   .fox-delete {
      top: 10px;
      right: 5px;
   }

   .draggable-card {
      width: calc(100% - 50px);
      position: relative;
      left: -50px;
   }
}

.fox-task-container {
   overflow-y: scroll;
   max-height: 60vh;
}

.fox-task-container::-webkit-scrollbar {
   display: none;
}

.w3-padding-bottom {
   padding-bottom: 50px;
}

.w3-hide-small {
   background-color: #2B4D59;
   color: white;
   height: 100vh;
}

.task-card {
   margin-bottom: 2px;
   background-color: #e4e1d8;
   color: black;
   width: 100%;
   overflow: hidden;
   border-radius: 5px;
}

.fox-card-text {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

.fox-green {
   background-color: #39998E !important;
   color: white !important;
}

.fox-red {
   background-color: #b9300e;
   color: white;
}

.draggable-card {
   position: relative;
   height: 50px;
   text-overflow: ellipsis;
   padding-left: 8px;
   padding-right: 8px;
   /* width: 90%; */
}

.fox-check {
   font-size: 2em;
   border-radius: 5px;
   background-color: #39998E;
   color: white;
   position: relative;
   top: 10px;
}

.fox-delete {
   font-size: 2em;
   border-radius: 5px;
   color: #b9300e;
   position: relative;
   top: 10px;
}

.fa-question-circle {
   font-size: 2em;
   margin-right: 10px;
   position: relative;
   top: 8px;
   z-index: 2;
}

.fa-question-circle:hover {
   cursor: pointer;
   
}

.help-container {
   position: relative;
   float: left;
}

.help-content {
   display: none;
   z-index: 6;
   position: absolute;
   color: white;
   top: -40px;
}

.help-content2 {
   display: none;
   z-index: 6;
   position: relative;
}

@media only screen and (min-width: 900px) {
   .fox-check-container, .fox-delete-container {
      width: 20px;
   }

   .fox-check:hover, .fox-delete:hover {
      cursor: pointer;
   }
   
   .draggable-card:hover .fox-card-text{
      position: relative;
      right: -20px;
   }

   .fox-delete {
      top: 8px;
   }

   .fox-delete-container {
      right: 15px;
   }
}

@-webkit-keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0; display: none; visibility: hidden;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0; display: none; visibility: hidden;}
}

.hidden {
   -webkit-animation: fadeOut 2s;
   animation: fadeOut 2s;
   animation-fill-mode: forwards;
}

.footer {
   position: absolute;
   bottom: 8px;
   margin-left: 15px;
}

.fox-link {
   text-decoration: underline;
}

.fox-link:hover {
   cursor: pointer;
}

@keyframes jiggle {
   0% {
     transform: rotate(-1deg);
   }
   50% {
     transform: rotate(1deg);
   }
}

.wiggle {
   animation: jiggle 0.2s infinite;
}

.fox-flash-red {
   -webkit-animation-name: fox-flash-red;
   animation-name: fox-flash-red;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fox-flash-red {
   0% {
       background-color: #b9300e;
       opacity:1;
   }
   22% {
       background-color: #b9300e;
   }
   77% {
       background-color: #b9300e;
   }
   100% {
       background-color: white;
   }
}

@keyframes fox-flash-red {
   0% {
      background-color: #b9300e;
      opacity:1;
   }
   22% {
         background-color: #b9300e;
   }
   77% {
         background-color: #b9300e;
   }
   100% {
         background-color: white;
   }
}

.fox-welcome {
   position: relative;
   right: 30px;
   z-index: 1;
}

.new-button {
   position: relative;
   z-index: 2;
}

.fox-header {
   margin-top: 8px;
   margin: auto;
   width: 350px;
   background-color: #2B4D59;
   color: white;
   border-radius: 5px;
}